.footer
    .container
        .row
            .col-lg.foot_item
                a(href='#') Facebook
            .col-lg.foot_item
                a(href='#') Twitter
            .col-lg.foot_item
                a(href='#') Google+
            .col-lg.foot_item
                a(href='#') LinkedIn
            .col-lg.foot_item
                a(href='#') Behance
            .col-lg.foot_item
                a(href='#') Dribble
            .col-lg.foot_item
                a(href='#') Github