nav
    .container
        .row.mt-1
            .col-md-3
                a
                    img(src="./img/logo.png")
            .col-md-9
                .nav_wrap
                    ul
                        li.active
                            a(href="#") HOME
                        li
                            a(href="#") ABOUT
                        li
                            a(href="#") WORK
                        li
                            a(href="#") BLOG
                        li
                            a(href="#") CONTACT